.medium-small-font {
  font-size: .9em;
  line-height: 2.2em;
}

.medium-font {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 600;
}

.disabled {
  opacity: .5;
}

.brand-color {
  color: #2124fb;
}

.error-color {
  color: #fc2d3a;
}

.success-color {
  color: #1fca23;
}

.Message {
  text-transform: uppercase;
  padding-top: 14px;
}

.Message > svg {
  margin-bottom:3.1px;  /*react icons overrides*/
  margin-right:3px;
}

.card {
  border: #e4e4e4 1px solid;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 30px 40px 30px;
}

.react-icons-align{
  padding-bottom:2px;
}

.App-body {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 95%;
}

.Header {
  height: 140px;
  overflow: hidden;
}

.Login {
  position: absolute;
  right: 40px;
  top: 50px;
}

.Title {
  display: inline-block;
  font-size: 3.5em;
  padding: 35px 5px 10px 45px;
}

.Subtitle {
  display: inline;
  font-size: 1.5em;
  font-weight: 300;
  color: #aeaeae;
}

.Token {
  line-height: 1.5em;
  width: 60%;
  min-width: 505px;
  height: 450px;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin-right: 15px;
  display: inline-block;
  word-wrap: break-word;
  vertical-align: top;
  overflow: hidden;
}

.Account {
  width: 35%;
  min-width: 200px;
  height: 450px;
  display: inline-flex;
  flex-direction: column;
  align-items: end;
  display: inline-block;
  word-wrap: break-word;
  vertical-align: top;
  padding-top: 65px;
}

@media only screen and (max-width: 915px) {
  .Account {
    width:100%;
    min-width: 505px;
  }
  .Token {
    width:100%;
    min-width: 505px;
  }
}

.Token-item {
  padding-bottom: 30px;
}

.Loading{
  position: fixed;
  top: 50%;
  left: 50%;
  width:50px;
  height:50px;
  transform: translate(-50%, -50%);
}

.Purchase {
  padding-top:40px;
}
