button.ui.button{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  background-color: #2124fb !important;
  color: #fff !important;
  margin-left: 8px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

button.ui.button:disabled{
  background-color: #888 !important;
}

button.ui.big.button:hover {
  background-color: #080BE2 !important;
}

button.ui.big.button:hover {
  background-color: #080BE2 !important;
}

div.ui.big.input > ::placeholder {
  text-align: right !important;
}


div.ui.big.error.input > input {
  border-color: #fc2d3a !important;
}

div.ui.big.input {
  width:50% !important;
}
