.App {
  text-align: center;
}

.App-logo {
  left:0;
  padding: 5px;
  position: absolute;
  height: 80px;
}

.Account-info{
  right:0;
  top:0;
  padding: 10px;
  position: absolute;
}

.Main-info{
  border: #fff 1px solid;
  border-radius: 5px;
  display: flex;
  width:400px;
  height:200px;
  padding:15px;
  margin:50px auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.App-header {
  height: 80px;
  padding: 5px;
}

.App-title {
  font-size: 2.4em;
}

.App-intro {
  font-size:1.5em;
}
