
.Account-info{
  right:0;
  top:0;
  padding: 10px;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .Account-info{
    font-size:.8em;
    line-height: 1em;
  }
}

.Main-info{
  border: #fff 1px solid;
  border-radius: 5px;
  display: flex;
  width: 400px;
  height: 200px;
  line-height: 1.5em;
  padding: 15px;
  margin: 70px auto;
  justify-content: center;
  flex-direction: column;
}


.App-header {
  height: 80px;
  padding: 5px;
}

.App-title {
  font-size: 3.2em;
  text-align:left;
  display: inline;
  color: #2124fb;
  padding: 10px 5px 10px 30px;
}

.App-slogan {
  font-size:1.5em;
  text-align: left;
  display: inline;
  color: #aeaeae;
  font-weight:300;
}
